#
# Contains environment-specific variables.
#
# Copy to env-<env name>.list and DO NOT commit that file to version control.
#
# Feel free to move variables between env-<env name>.list and env-common.list.
#

IMAGE_NAME=

ECS_SERVICE=
ECS_TASK_DEFINITION=
ECS_TASK_COUNT=1

ENDPOINT_API_USERNAME=
ENDPOINT_API_SECRET=
