#
# Copy to env.list and DO NOT commit that file to version control.
#

###########################################################################
# EXPORTED ENVIRONMENT VARIABLES
# These are used by the various .sh scripts. They are also copied into the
# container, but not used there. They don't really need to be in this file,
# but it keeps all of the configuration in one place.
###########################################################################

APP_NAME=metaslurp-cantaloupe
DOCKER_TAG=metaslurp-cantaloupe:latest
# (From ~/.aws/credentials)
AWS_PROFILE=
# (I lied above--this one is actually used in the container too)
AWS_REGION=us-east-2
ECR_HOST=
ECS_CLUSTER=metaslurp-cantaloupe
ECS_SERVICE=metaslurp-cantaloupe-alb
TASK_COUNT=4

###########################################################################
# CONTAINER RUNTIME ENVIRONMENT VARIABLES
# All of these (plus AWS_REGION above) also need to be present in the ECS
# task definition.
###########################################################################

# These are read by S3Cache and grant access to the bucket in
# $S3CACHE_BUCKET_NAME below.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Base URL of the metaslurp server.
METASLURP_URL=

# These override cantaloupe.properties keys in the following way:
#     config.file.key => CONFIG_FILE_KEY

# These must be located in $AWS_REGION.
S3SOURCE_ACCESS_KEY_ID=
S3SOURCE_SECRET_KEY=
S3CACHE_BUCKET_NAME=
