AWS_PROFILE=
AWS_REGION=

IMAGE_NAME=
ECR_HOST=

ECS_CLUSTER=
ECS_SUBNET=
ECS_SECURITY_GROUP=
ECS_SERVICE=
ECS_TASK_DEFINITION=
ECS_TASK_COUNT=1

###########################################################################
# Container environment variables
# N.B.: these all need to be enumerated in docker-compose.yml
###########################################################################

# Cantaloupe configuration overrides
ENDPOINT_API_USERNAME=
ENDPOINT_API_SECRET=
S3CACHE_BUCKET_NAME=

# The delegate script (image_files/delegates.rb) needs this
METASLURP_URL=